name: Run Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]
        include:
          - os: ubuntu-latest
            path: ~/.cache/pip
          - os: macos-latest
            path: ~/Library/Caches/pip
          - os: windows-latest
            path: ~\AppData\Local\pip\Cache
        exclude:
          - os: windows-latest
            python-version: "3.11"
          - os: windows-latest
            python-version: "3.12"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: "true" 
          version: "0.9.5"
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: |
          if [ "$RUNNER_OS" == "Windows" ] && [ "${{ matrix.python-version }}" != "3.10" ]; then
            uv sync --all-extras --no-extra tf --dev
          else
            uv sync --all-extras --dev
          fi
        shell: bash
        
      - name: Install ffmpeg
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt-get install ffmpeg
          elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install ffmpeg
          else
            choco install ffmpeg
          fi
        shell: bash
          
      - name: Run DLC Live Tests
        run: uv run dlc-live-test --nodisplay

      - name: Run Functional Benchmark Test
        run: uv run pytest tests/test_benchmark_script.py
